@charset "utf-8";
/*这种注释会编译在CSS文件中*/
/*怎么声明一个变量*/
body {
  color: #e92322;
}
a {
  color: #e92322;
}
/*特点一  Mixin 混入*/
.redFont {
  color: red;
}
.redBorder {
  border: 1px solid red;
}
/*//红色文字和边框 通过Class混合*/
.redFontBorder {
  color: red;
  border: 1px solid red;
}
/*定义方法 不能和CSS的类名重复,否则都会引用*/
/*绿色通过func混合*/
.redFontBorder-func {
  color: green;
  border: 1px solid green;
}
/*特点二  嵌套*/
.wjs_header {
  border-bottom: 1px solid #ccc;
  color: #666;
  font-size: 12px;
  position: relative;
  z-index: 1001;
}
.wjs_header .wjs_app {
  color: #666;
  position: relative;
  display: block;
}
.wjs_header .wjs_app .wjs_app img {
  display: none;
}
.wjs_header .wjs_app:hover img {
  display: block;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -60px;
  border: 1px solid #ccc;
  border-top: none;
}
.wjs_header > .container > .row > div {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.wjs_header > .container > .row > div + div {
  border-left: 1px solid #ccc;
}
/*特点三 导入 import*/
.color1 {
  color: red;
}
