/*清除浏览器默认样式*/
/*所有标签和伪类 before after*/
*,::before,::after {
    margin: 0;
    padding: 0;
    /*清除点击高亮效果*/
    -webkit-tap-highlight-color: transparent;
    /*设置盒模型为 边框模式*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*设置字体*/
body {
    font-size: 14px;
    color: #333;
    font-family: "Microsoft YaHei", Arial, sans-serif;
}
/*清除列表默认样式*/
ul,ol {
    list-style: none;
}
/*清除a标签默认样式*/
a{
    text-decoration: none;
    color: #333;
}
a:hover {
    color: #333;
}
/*清除input默认样式*/
input,textarea {
    border: none;
    outline: none;
    resize: none;
    /*组件默认样式为空*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/**公共CSS部分 */
.f_right {
    float: right;
}
.f_left {
    float: left;
}
/*清除浮动*/
.clearfix:after {
    content: ".";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix{
    *zoom: 1;
}
/*所有使用精灵图的class,以icon开始的所有class都有这些属性*/
[class^="icon_"]{
    background: url("../images/sprites.png") no-repeat;
    background-size:200px 200px;
}

/*顶部通栏*/
.jd_topBar{
    height: 45px;
    background: url("../images/header-bg.png") repeat-x;
    background-size: 1px 44px;
    border-bottom: 1px solid #e0e0e0;
    position: absolute;
    width: 100%;
}
.jd_topBar [class^="icon_"]{
    width: 40px;
    height: 44px;
    position: absolute;
    padding: 12px 10px;
    /*按钮大小需要设置偏大  用户体验*/
    top: 0;
    background-origin: content-box;/*定位以内容开始定位*/
    background-clip: content-box;/*显示背景 从内容开始显示*/
}
/*按钮大小不变  但是显示的背景区域 要变小*/
.jd_topBar .icon_back{
    left: 0;
    background-position: -20px 0;
}
.jd_topBar .icon_menu{
    right: 0;
    background-position: -60px 0;
}
.jd_topBar form{
    width: 100%;
    padding: 0 40px;
}
.jd_topBar form input{
    width: 100%;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-top: 7px;
}
.jd_topBar h3{
    text-align: center;
    line-height: 44px;
    font-weight: normal;
    font-size: 16px;
}
